*
{
	margin: 0px;
}
div.main
{
  font-family: arial black;
  font-variant:initial;
  background-color: gray;
  height: 80px;
  width: 100%;
  text-align: center;
  text-transform: inherit;
}
div.a
{
text-align: center;
}
div.b
{

}
div.c
{
	
}
div.d
{
	
}
div.e
{
	
}